footer{
	background:#414A52;
	padding:8% 5%;

	.company-logo{
		padding: 0 0 2% 1%;
		border-bottom: 1px solid #5D656C;

		p{
			color: white;
			padding: 2% 0;
		}
	}
}

.footer-primary-nav{
	width:80%;
	padding:2% 0;
	display:inline-block;

	li{
		display:inline-block;
		padding:1% 3% 1% 1%;
		a{
			color:$white;
		}
		a:hover{
			color:$lightblue;
		}
	}
}

.footer-social-nav{
	width:19%;
	padding:2% 0;
	display:inline-block;

	li{
		display:inline-block;
		padding:5% 0% 5% 25%;
		a{
			color:$white;
		}
		a:hover{
			color:$lightblue;
		}
	}
}

.footer-desclaimer{
	padding:1%;
	color:#5D656C;

	a{
			color:$white;
	}
	a:hover{
		color:$lightblue;
	}
}


@media screen and (max-device-width: 375px){
	footer{
		padding:8% 0;

		.company-logo {
			width:90%;
			padding:5%;

			p{
				margin:5% 0;
				line-height:1.75em;
				font-size:0.9em;
			}
		}
	}

	.footer-primary-nav{
		width:90%;
		padding:1% 5% 0%;

		li{
			display:block;
			padding:13% 3% 8% 1%;
			border-bottom:1px dotted $white;
		}
	}

	.footer-social-nav{
		width:90%;
		margin:0% 5%;
		li{
			display: block;
    		padding: 7% 0% 8% 1%;
   		    border-bottom: 1px dotted $white;
		}
	}

	.footer-desclaimer{
		margin:4%;
		line-height:1.75em;
	}
}