body{
  margin: 15px;
  padding:0;
  font-size: 16px;
  background-color: #FFF;
  font-family:'Times New Roman', Times, "Lato", sans-serif;}
img{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4{
  font-style: none;
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
input{
  padding: 0;
  margin: 0;
  border-radius:0;
}
span{
   margin: 0;
   padding: 0;
}
ul,li{
  margin:0;
  padding: 0;
}
input,button{
   margin: 0;
   padding: 0;
}



