@import 'colorVariable';
@import 'titleHeading';
@import 'header';
@import 'footer';
@import 'clearfix';

@font-face {
    font-family: emojiFont;
    src: url(../fonts/EmojiSymbolsFont-master/font/EmojiSymbols-Regular.woff);
}

body{
	font-family: Raleway;
}

.slideshow-container{
	width: 98%;
	position: relative;
	margin: 1%;
	height:500px;
}

.myslides{
	display: none;
	height:100%;
}
.image-caption{
	text-align: center;
	position: absolute;
	bottom: 10%;
	width: 63%;
	color: #f2f2f2;
	border-top: 1px solid;
	margin: 2% 17%;
	padding: 2% 3%;
}
.dots-container{
	text-align: center;
	width: 2%;
	position: absolute;
	top: 50%;
	right: 2%;
}
.dots{
	width: 8px;
	height: 8px;
	background: rgba(0,0,0,0);
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid white;
	margin: 30%;
}
.fade{
	animation-name:fade;
	animation-duration:1.5s;
}

@keyframes fade{
	from {opacity: 0.4;}
	to {opacity: 1;}
}

@keyframes moveRight {
    0%   {right: 0%;}
    25%  {right: 25%;}
    75%  {right: 50%}
    100% {right: 100%;}
}
.active, .dot:hover {
	background-color: #fff;
}
.image-carousal{
	margin:1.5% 0.5%;
}
.image-container{
	text-align:center;
	position:relative;
	height:540px;
	color:$white;
}

.image-1{
	background:url("../images/hero-bg-01.jpg") no-repeat center ;
}
.image-2{
	background:url("../images/hero-bg-02.jpg") no-repeat center ;
}
.image-3{
	background:url("../images/hero-bg-03.jpg") no-repeat center ;
}
.image-heading{
	position: absolute;
	text-align: center;
	color: white;
	padding: 3%;
	margin: 3%;
	padding-bottom: 6%; 
	width:92%;

	h1{			
		font-size:2.8125em;
		font-weight:normal;
		line-height:1.75em;
		margin-bottom:5%;
	}
	a{
		background: #7AE2DE;
	  	color: #FFFFFF;
	  	font-size: 0.9em;
	  	padding: 2%;
	  	text-transform: uppercase;
	  	text-decoration: none;
	}
	a:hover{
		background:$btnhovercolor;
		transition: background 0.5s linear;
	}
}

.image-description{
	margin:6% 16% 0 16%;
	padding:4% 2% 2% 2%;
	

	span{
		font-weight:bold;
		font-style:italic;
	}
}

.collective-container{
	margin:10% 5%;
	box-sizing:border-box;
	color: #414A52;
	line-height:2em;
}

.collective-title{
	@include title-heading;
	h3{

		&:after{
			@include title-heading-after;
		}
	}
}


.collective-description{
	width:74%;
	display:inline-block;
	vertical-align:top;

	*{
		margin-bottom:5%;
	}

	video{
		border:10px solid #F4F6F9;
		margin-left:-10%;
		width:65%;
		height: 300px;
	    background: black;
	    border: none;
	}
}

#team{
	background:#F4F6F9;
}

.crew-container{
	padding:5% 0;
}

.crew-title{
	padding:3%;
	@include title-heading;
	color: #414A52;
	h3{

		&:after{
			@include title-heading-after;
			margin: 3% 0 0 37%;
		}
	}
}

.team-member{
	padding:0 4%;
}
.member-container{
	position:relative;
	width:22.5%;
	margin:1%;
	display:inline-block;
	box-sizing:border-box;

	.member-info{
		position:absolute;
		width:100%;
		height:100%;
		background:rgba(137,220,217,0.8);
		display:none;
		color: $white;
		text-align: center;
		line-height: 2em;
	}

	.member-name-skills{
		position:absolute;
		top:27%;

		h2{
			text-transform:uppercase;
		}
	}
}
.member-container:hover{
	.member-info{
		display:block;
	}
}
.member-1{
	background:url("../images/crew-peter-finlan.jpg") no-repeat;
	height:300px;
	background-size:100%;
}

.member-2{
	background:url("../images/crew-blaz-robar.jpg") no-repeat;
	height:300px;
	background-size:100%;
}

.member-3{
	background:url("../images/crew-mary-lou.jpg") no-repeat;
	height:300px;
	background-size:100%;
}

.member-4{
	background:url("../images/crew-dude.jpg") no-repeat;
	height:300px;
	background-size:100%;
}

.skill-set{
	padding:1% 4%;
	color: #414A52;
	font-size:0.8em;
	div{
		position:relative;
		width:48%;
		height:50px;
		display:inline-block;
		margin:0 2% 2% 0;

		span{
			position:absolute;
			right:0;
			top:20%;
		}
	}

	div:nth-child(even){
		margin-right:0;
	}

	h6{
		padding:2%;
		text-transform:uppercase;
	}
	meter{
		margin-left:2%;
		width:100%;
		height:10px;
		background:$darkslategary;
	}
	meter:-moz-meter-optimum::-moz-meter-bar{
		background:$lightblue;
	}
}

.stats-container{
	background:url("../images/stats-bg.jpg") no-repeat center ;
	height:380px;
	color:$white;
	padding-left:10%;
}

.stats-wrapper{
	font-size:2em;
	width:33%;
	display:inline-block;
	text-align:left;
	margin-top:15%;
	border-right:1px solid;

	&:last-child{
		border:none;
	}
}

.stats-description{
	padding-left:35%;
	line-height:1.3em;

	p:first-child{
		font-size:1.5em;
	}

	p:last-child{
		font-size:0.7em;
		font-weight:lighter;
	}
}
.award{
	background: url("../images/iconcup.png") no-repeat 40px 5px;
}
.article{
	background: url("../images/iconbook.png") no-repeat 40px 5px;
}
.freebie{
	background: url("../images/iconpen.png") no-repeat 40px 5px;
}

#latest-article{
	padding-bottom:1%;
	background:#F4F6F9;
}
.latest-article-container{
	padding-top:8%;
	position:relative;
	color: #414A52;
}

.article-title{
	@include title-heading;
	margin-left:5%;
	h3{

		&:after{
			@include title-heading-after;
			margin:3% 0 0 28%;
		}
	}
}

.sort-by-filter{
	display:inline-block;
	position:absolute;
	right:5%;
	font-size:0.8em;

	p{
		display:inline-block;
		font-weight:bold;
		text-transform:uppercase;
		padding-right:20px;
	}
	select{
		font-size:0.9em;
		width:250px;
		height:30px;
		border:none;
		border-bottom: solid 2px #7AE2DE;
		background-color:#F4F6F9;
		background: url("../images/dd-arrow.png") no-repeat 230px 10px;
		-webkit-appearance: none;
        -moz-appearance: none;
	}
}

.article-container{
	margin:5% 0 5% 5%;
}
.article-div{
	width:28%;
	display:inline-block;
	margin:0 2%;
	padding-top:3%;
}
.article-image{
	height:225px;
}

.figure-caption{
	color:#414A52;
	font-size: 1.15em;
	line-height: 1.5em;
	padding:5% 0;
	border-bottom:1px solid #E5E7E9;

	p{
		font-size:0.75em;
	}
}

.article-footer{
	margin:5% 0;

	li{
		font-size:0.9em;
		display:inline-block;
		a{
			color:$lightblue;
		}
	}
	li:last-child{
		float:right;
	}
	li:last-child:before{
		content:'';
		height: 10px;
	    width: 10px;
	    display: inline-block;
	    background: url('../images/chat.png');
	}

	li:last-child:after{
		@include clearfix;
	}
}
.article-1{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-01.jpg") no-repeat center ;
}

.article-2{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-02.jpg") no-repeat center ;
}

.article-3{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-03.jpg") no-repeat center ;
}

.article-4{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-04.jpg") no-repeat center ;
}

.article-5{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-05.jpg") no-repeat center ;
}

.article-6{
	background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-06.jpg") no-repeat center ;
}

.view-more{
	width:10%;
	margin:5% auto;

	a{
		padding:6% 12%;
		color:$lightblue;
		border:2px solid $lightblue;
		font-size:1.1em;
	}

	a:hover{
		color:$white;
		background:$lightblue;
	}
}

.freshest-details-container{
	margin:5% auto;
	color: #414A52;
}
.freshest-title{
	@include title-heading;
	width:35%;
	h3{

		&:after{
			@include title-heading-after;
			margin:3% 0 0 32%;
		}
	}
}

.freshest-description{
	margin:5% auto;
	p{
		width:39%;
		padding:0 5%;
		display:inline-block;
		line-height:1.75em;
	}

	p:first-child{
		border-right:1px solid $lightgray;
	}
}

.freshest-image-container{
	width:100%;
}
.freshest-image{
	width:50%;
	float:left;
	position:relative;
	margin:-1px;
	overflow:hidden;
}

.freshest-image:hover{
	.freshest-image-details{
		display:block;
	}
}

.freshest-image:before{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(65,74,82,0.1);
	content:' ';
	z-index:1;
	margin:-1px;
}
.freshest-image-container:after{
	@include clearfix;
}

.freshest-image-details{
	display:none;
	color:$white;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(65,74,82,0.75);
	z-index:3;

	.like-wrapper{
		position: absolute;
		top: 6%;
		left: 6%;
		width:14%;

		a{
			display: inline-block;
			height: 14px;
			width: 14px;
			background: url('../images/favorite.png');
		}

		span{
			display: inline-block;
			padding-left: 8%;
		}
	}
}

.freebie-content{
	text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 22%;
    left: 23%;
    padding: 3% 2%;
    border-bottom: 2px solid;
    width: 49%;

	span{
		font-size: 0.8em;
		color: rgba(255,255,255,0.5);
	}
	p{
		font-weight: bold;
		padding: 5% 0;
	}
}

.download-btn{
	position: absolute;
	bottom: 36%;
	left: 40%;

	a{
		color: $lightblue;
		border: 2px solid $lightblue;
		padding: 5% 15%;
	}

	a:hover{
		background:$lightblue;
		color:$white;
	}
}
#get-started{
	padding:8%;
	background: url("../images/texture-shapes-bg.png"),linear-gradient(rgba(94, 221, 226, 0.95), rgba(94, 221, 226, 0.90)) ;
}

.get-started-container{
	font-size:1.75em;
	color: $white;
	a{
		color:$white;
	}
}

.get-started-description{
	display:inline-block;
	margin:0 5%;
	a{
		border-bottom: solid 2px rgba(255,255,255,0.5);
	}

	a:hover{
		border-bottom: solid 2px rgba(255,255,255,1.0);
	}
}

.get-started-button{
	display: inline-block;
	font-size: 0.6em;
	
	a{
		border: 2px solid $white;
		padding: 10px;
	}
	a:hover{
		background:$white;
		color:$lightblue;
	}
}

@media screen and (max-device-width: 375px){
	.slideshow-container{
		margin:2%;
		width:96%;
	}

	.myslides{
		display: block;
	    width: 100%;
	    word-wrap: break-word;
	}

	.image-heading{
		font-size:0.5em;
		padding: 18% 3%;
		margin:0;
		width:94%;

		h1{
			margin-bottom:12%;
		}

		a{
			font-size:2em;
		}
	}

	.image-caption{
		margin:0;
		padding:5%;
		width:90%;
		top:60%;
	}

	.dots-container{
		width:100%;
		right:0;
		top:74%;

		.dots{
			margin:2%;
		}
	}

	.collective-container{
		width:100%;
		padding:5%;
		margin:0;
	}

	.collective-title{
		text-align:left;
		width:100%;

		h3{
			margin:10% 0;
		}

		h3:after{
			margin:0;
		}
	}

	.collective-description{
		word-wrap:break-word;
		width:100%;

		video{
			margin:0;
			width:94%;
			height: 270px;
		}
	}

	.crew-title{
		width:90%;
		text-align:left;
		padding:5%;

		h3:after{
			margin:2% 0;
		}

	}
	.team-member{
		text-align:center;
	}
	.member-container{
		width:90%;
	}

	.skill-set{
		div{
			width:100%;
		}
	}

	.stats-container{
		padding-left:5%;
	}
	.stats-wrapper{
	    font-size: 2em;
	    width: 90%;
	    display: block;
	    text-align: left;
	    border-right: 1px solid;
	    padding: 7% 1%;
	    border: none;
	    margin-top:0;
	}

	.stats-description{
		padding-left:45%;
	}

	.article-title{
		width:90%;
		text-align:left;
		margin:7% 5%;

		h3:after{
			margin:2% 0;
		}
	}

	.sort-by-filter{
	    width: 92%;
	    margin: 5% 11%;
	    display: block;
	    right: -10%;

	    p{
	    	margin:5% 0;
	    }
	    select{
	    	width:90%;
	    	background: url(../images/dd-arrow.png) no-repeat 95% 60%;
	    }
	}

	.article-container{
		margin:46% 0 5% 5%;
	}

	.article-div{
		width:94%;
		margin-bottom:7%;
	}

	.view-more{
		width: 55%;
   	    margin: 5% 29% 27%;
	}

	.freshest-image{
		height:380px;
		width:100%;

		img{
			height:100%;
		}
	}
	.freshest-title{
		width: 86%;
	    text-align: left;
	    padding: 7%;

	    h3:after{
	    	margin:4% 1%;
	    }
	}
	.freshest-description{

		p{
			width:85%;
			border:none;
			margin:5% 2%;
		}
	}

	.freshest-image-container {
		margin-bottom:20%;
	}

	#get-started{
		padding:8%;
	}

	.get-started-container{
		font-size:1.5em;
		text-align:center;
	}

	.get-started-description{
		margin:1% 5%;
		line-height:1.5em;
	}

	.get-started-button{
		margin:15% 30%;

		a{
			padding:13px;
		}
	}
}