body {
  font-family: Raleway; }
  body .logo {
    display: inline-block;
    width: 340px;
    padding: 30px 0;
    text-align: center;
    border-bottom: 5px solid #7AE2DE;
    background: #414A52; }
  body .primary-nav-wrapper {
    display: inline-block;
    position: absolute;
    top: 35px;
    margin-left: 13%; }
    body .primary-nav-wrapper ul li {
      display: inline-block;
      letter-spacing: 1px;
      font-size: 13px;
      padding: 10px 20px;
      border-right: 1px solid #E5E7E9;
      text-transform: uppercase; }
    body .primary-nav-wrapper ul li:last-child {
      border-right: none; }
    body .primary-nav-wrapper a {
      color: #414A52; }
    body .primary-nav-wrapper a:hover {
      color: #7AE2DE; }
  body .secondary-nav-wrapper {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #414A52;
    padding: 35px; }
    body .secondary-nav-wrapper ul {
      list-style: none; }
    body .secondary-nav-wrapper ul li {
      display: inline-block;
      letter-spacing: 1px;
      font-size: 13px;
      padding: 10px 20px;
      text-transform: uppercase; }
    body .secondary-nav-wrapper ul li:first-child {
      border-right: 1px solid #323940; }
    body .secondary-nav-wrapper a {
      color: #7AE2DE; }
  body .slideshow-container {
    width: 98%;
    position: relative;
    margin: 1%;
    height: 500px; }
  body .myslides {
    display: none;
    height: 100%; }
  body .image-caption {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 63%;
    color: #f2f2f2;
    border-top: 1px solid;
    margin: 2% 17%;
    padding: 2% 3%; }
  body .dots-container {
    text-align: center;
    width: 2%;
    position: absolute;
    top: 50%;
    right: 2%; }
  body .dots {
    width: 8px;
    height: 8px;
    background: transparent;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    margin: 30%; }
  body .fade {
    animation-name: fade;
    animation-duration: 1.5s; }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes moveRight {
  0% {
    right: 0%; }
  25% {
    right: 25%; }
  75% {
    right: 50%; }
  100% {
    right: 100%; } }
  body .active, body .dot:hover {
    background-color: #fff; }
  body .image-carousal {
    margin: 1.5% 0.5%; }
  body .image-container {
    text-align: center;
    position: relative;
    height: 540px;
    color: #FFFFFF; }
  body .image-1 {
    background: url("../images/hero-bg-01.jpg") no-repeat center; }
  body .image-2 {
    background: url("../images/hero-bg-02.jpg") no-repeat center; }
  body .image-3 {
    background: url("../images/hero-bg-03.jpg") no-repeat center; }
  body .image-heading {
    position: absolute;
    text-align: center;
    color: white;
    padding: 3%;
    margin: 3%;
    padding-bottom: 6%;
    width: 92%; }
    body .image-heading h1 {
      font-size: 2.8125em;
      font-weight: normal;
      line-height: 1.75em;
      margin-bottom: 5%; }
    body .image-heading a {
      background: #7AE2DE;
      color: #FFFFFF;
      font-size: 0.9em;
      padding: 2%;
      text-transform: uppercase;
      text-decoration: none; }
    body .image-heading a:hover {
      background: #71D5D2;
      transition: background 0.5s linear; }
  body .image-description {
    margin: 6% 16% 0 16%;
    padding: 4% 2% 2% 2%; }
    body .image-description span {
      font-weight: bold;
      font-style: italic; }
  body .collective-container {
    margin: 10% 5%;
    box-sizing: border-box;
    color: #414A52;
    line-height: 2em; }
  body .collective-title {
    width: 25%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase; }
    body .collective-title h3:after {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3% 0 0 27%;
      content: '';
      background-color: #7AE2DE; }
  body .collective-description {
    width: 74%;
    display: inline-block;
    vertical-align: top; }
    body .collective-description * {
      margin-bottom: 5%; }
    body .collective-description video {
      border: 10px solid #F4F6F9;
      margin-left: -10%;
      height: 100%;
      width: 65%; }
  body #team {
    background: #F4F6F9; }
  body .crew-container {
    padding: 5% 0; }
  body .crew-title {
    padding: 3%;
    width: 25%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #414A52; }
    body .crew-title h3:after {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3% 0 0 27%;
      content: '';
      background-color: #7AE2DE;
      margin: 3% 0 0 37%; }
  body .team-member {
    padding: 0 4%; }
  body .member-container {
    width: 22.5%;
    margin: 1%;
    display: inline-block;
    box-sizing: border-box; }
  body .member-1 {
    background: url("../images/crew-blaz-robar.jpg");
    height: 300px; }
  body .member-2 {
    background: url("../images/crew-dude.jpg");
    height: 300px; }
  body .member-3 {
    background: url("../images/crew-mary-lou.jpg");
    height: 300px; }
  body .member-4 {
    background: url("../images/crew-peter-finlan.jpg");
    height: 300px; }
  body .skill-set {
    padding: 1% 4%;
    color: #414A52;
    font-size: 0.8em; }
    body .skill-set div {
      position: relative;
      width: 48%;
      height: 50px;
      display: inline-block;
      margin: 0 2% 2% 0; }
      body .skill-set div span {
        position: absolute;
        right: 0;
        top: 20%; }
    body .skill-set div:nth-child(even) {
      margin-right: 0; }
    body .skill-set h6 {
      padding: 2%;
      text-transform: uppercase; }
    body .skill-set meter {
      margin-left: 2%;
      width: 100%;
      height: 10px;
      background: #414A52; }
    body .skill-set meter:-moz-meter-optimum::-moz-meter-bar {
      background: #7AE2DE; }
  body .stats-container {
    background: url("../images/stats-bg.jpg") no-repeat center;
    height: 380px;
    color: #FFFFFF;
    padding-left: 10%; }
  body .stats-wrapper {
    font-size: 2em;
    width: 33%;
    display: inline-block;
    text-align: left;
    margin-top: 15%;
    border-right: 1px solid; }
    body .stats-wrapper:last-child {
      border: none; }
  body .stats-description {
    padding-left: 35%;
    line-height: 1.3em; }
    body .stats-description p:first-child {
      font-size: 1.5em; }
    body .stats-description p:last-child {
      font-size: 0.7em;
      font-weight: lighter; }
  body .awards {
    background: url("../images/award.jpeg") no-repeat center; }
  body #latest-article {
    padding-bottom: 1%;
    background: #F4F6F9; }
  body .latest-article-container {
    padding-top: 8%;
    position: relative;
    color: #414A52; }
  body .article-title {
    width: 25%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%; }
    body .article-title h3:after {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3% 0 0 27%;
      content: '';
      background-color: #7AE2DE;
      margin: 3% 0 0 28%; }
  body .sort-by-filter {
    display: inline-block;
    position: absolute;
    right: 5%;
    font-size: 0.8em; }
    body .sort-by-filter p {
      display: inline-block;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 20px; }
    body .sort-by-filter select {
      font-size: 0.9em;
      width: 250px;
      height: 30px;
      border: none;
      border-bottom: solid 2px #7AE2DE;
      background-color: #F4F6F9;
      background: url("../images/dd-arrow.png") no-repeat 230px 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: none; }
  body .article-container {
    margin: 5% 0 5% 5%; }
  body .article-div {
    width: 28%;
    display: inline-block;
    margin: 0 2%;
    padding-top: 3%; }
  body .article-image {
    height: 225px; }
  body .figure-caption {
    color: #414A52;
    font-size: 1.15em;
    line-height: 1.5em;
    padding: 5% 0;
    border-bottom: 1px solid #E5E7E9; }
    body .figure-caption p {
      font-size: 0.75em; }
  body .article-footer {
    margin: 5% 0; }
    body .article-footer li {
      font-size: 0.9em;
      display: inline-block; }
      body .article-footer li a {
        color: #7AE2DE; }
    body .article-footer li:last-child {
      float: right; }
    body .article-footer li:last-child:before {
      content: 'a'; }
    body .article-footer li:last-child:after {
      content: "";
      display: table;
      clear: both; }
  body .article-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-01.jpg") no-repeat center; }
  body .article-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-02.jpg") no-repeat center; }
  body .article-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-03.jpg") no-repeat center; }
  body .article-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-04.jpg") no-repeat center; }
  body .article-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-05.jpg") no-repeat center; }
  body .article-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-06.jpg") no-repeat center; }
  body .view-more {
    width: 10%;
    margin: 5% auto; }
    body .view-more a {
      padding: 6% 12%;
      color: #7AE2DE;
      border: 2px solid #7AE2DE;
      font-size: 1.1em; }
    body .view-more a:hover {
      color: #FFFFFF;
      background: #7AE2DE; }
  body .freshest-details-container {
    margin: 5% auto;
    color: #414A52; }
  body .freshest-title {
    width: 25%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 35%; }
    body .freshest-title h3:after {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3% 0 0 27%;
      content: '';
      background-color: #7AE2DE;
      margin: 3% 0 0 32%; }
  body .freshest-description {
    margin: 5% auto; }
    body .freshest-description p {
      width: 39%;
      padding: 0 5%;
      display: inline-block;
      line-height: 1.75em; }
    body .freshest-description p:first-child {
      border-right: 1px solid #E5E7E9; }
  body .freshest-image {
    width: 40%;
    display: inline-block;
    margin: -1%; }
  body #get-started {
    padding: 8%;
    background: url("../images/texture-shapes-bg.png"), linear-gradient(rgba(94, 221, 226, 0.95), rgba(94, 221, 226, 0.9)); }
  body .get-started-container {
    font-size: 1.75em;
    color: #FFFFFF; }
    body .get-started-container a {
      color: #FFFFFF; }
  body .get-started-description {
    display: inline-block;
    margin: 0 5%; }
    body .get-started-description a {
      border-bottom: solid 2px rgba(255, 255, 255, 0.5); }
    body .get-started-description a:hover {
      border-bottom: solid 2px white; }
  body .get-started-button {
    display: inline-block;
    font-size: 0.6em; }
    body .get-started-button a {
      border: 2px solid #FFFFFF;
      padding: 10px; }
    body .get-started-button a:hover {
      background: #FFFFFF;
      color: #7AE2DE; }
  body footer {
    background: #414A52;
    padding: 5%; }
    body footer .company-logo {
      padding: 0 0 2% 1%;
      border-bottom: 1px solid #5D656C; }
      body footer .company-logo p {
        color: white;
        padding: 2% 0; }
  body .footer-primary-nav {
    width: 80%;
    padding: 2% 0;
    display: inline-block; }
    body .footer-primary-nav li {
      display: inline-block;
      padding: 1% 3% 1% 1%; }
      body .footer-primary-nav li a {
        color: #FFFFFF; }
      body .footer-primary-nav li a:hover {
        color: #7AE2DE; }
  body .footer-social-nav {
    width: 19%;
    padding: 2% 0;
    display: inline-block; }
    body .footer-social-nav li {
      display: inline-block;
      padding: 5% 0% 5% 25%; }
      body .footer-social-nav li a {
        color: #FFFFFF; }
      body .footer-social-nav li a:hover {
        color: #7AE2DE; }
  body .footer-desclaimer {
    padding: 1%;
    color: #5D656C; }
    body .footer-desclaimer a {
      color: #FFFFFF; }
    body .footer-desclaimer a:hover {
      color: #7AE2DE; }

/*# sourceMappingURL=style.css.map */
