$darkslategary:#414A52;
$lightblue:#7AE2DE;
$lightgray:#E5E7E9;
$white:#FFFFFF;
$btnhovercolor:#71D5D2;


@import 'font-weight';
@mixin title-heading{
	width:25%;
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
}

@mixin title-heading-after{
	display: block;
	width: 30px;
	height: 2px;
	margin: 3% 0 0 27%;
	content: '';
	background-color: $lightblue;
}

@mixin clearfix{
	content: "";
	display: table;
    clear: both;
}

body{
	font-family: Raleway;

	.logo{
		display:inline-block;
		width:340px;
		padding:30px 0;
		text-align:center;
		border-bottom:5px solid $lightblue;
		background:$darkslategary;

	}

	.primary-nav-wrapper{
		display:inline-block;
		position:absolute;
		top:35px;
		margin-left:9%;
		
		ul li{
			display:inline-block;
			letter-spacing:1px;
			font-size:13px;
			padding:10px 20px;
			border-right:1px solid $lightgray;
			text-transform:uppercase;
		}

		ul li:last-child{
			border-right:none;
		}

		a{
			color:$darkslategary;
		}
		a:hover{
			color:$lightblue;
		}
	}

	.secondary-nav-wrapper{
		display:inline-block;
		position:absolute;
		top:0px;
		right:0px;
		background:$darkslategary;
		padding:35px;

		ul{
			list-style:none;
		}

		ul li{
			display:inline-block;
			letter-spacing:1px;
			font-size:13px;
			padding:10px 20px;
			text-transform:uppercase;
		}

		ul li:first-child{
			border-right:1px solid #323940;

		}

		a{
			color:$lightblue;
		}
	}

	.image-carousal{
		margin:1.5% 0.5%;
	}
	.image-container{
		text-align:center;
		position:relative;
		height:540px;
		background:url("../images/hero-bg-01.jpg") no-repeat center ;
		color:$white;
	}

	.image-heading{
		padding:5% 3% 0 3%; 

		h1{			
			font-size:2.8125em;
			font-weight:normal;
			line-height:1.75em;
			margin-bottom:5%;
		}
		a{
			background:$lightblue;
			color:$white;
			font-size:0.9em;
			padding:1.5%;
			text-transform:uppercase;
		}
		a:hover{
			background:$btnhovercolor;
			transition: background 0.5s linear;
		}
	}

	.image-description{
		margin:6% 16% 0 16%;
		padding:4% 2% 2% 2%;
		border-top:1px solid $white;

		span{
			font-weight:bold;
			font-style:italic;
		}
	}

	.collective-container{
		margin:10% 5%;
		box-sizing:border-box;
		color: #414A52;
		line-height:2em;
	}

	.collective-title{
		@include title-heading;
		h3{

			&:after{
				@include title-heading-after;
			}
		}
	}

	.collective-description{
		width:74%;
		display:inline-block;
		vertical-align:top;

		*{
			margin-bottom:5%;
		}

		video{
			border:10px solid #F4F6F9;
			margin-left:-10%;
			height:100%;
			width:65%;
		}
	}

	#team{
		background:#F4F6F9;
	}

	.crew-container{
		padding:5% 0;
	}

	.crew-title{
		padding:3%;
		@include title-heading;
		color: #414A52;
		h3{

			&:after{
				@include title-heading-after;
				margin: 3% 0 0 37%;
			}
		}
	}

	.team-member{
		padding:0 4%;
	}
	.member-container{
		width:22.5%;
		margin:1%;
		display:inline-block;
		box-sizing:border-box;
	}

	.member-1{
		background:url("../images/crew-blaz-robar.jpg");
		height:300px;
	}

	.member-2{
		background:url("../images/crew-dude.jpg");
		height:300px;
	}

	.member-3{
		background:url("../images/crew-mary-lou.jpg");
		height:300px;
	}

	.member-4{
		background:url("../images/crew-peter-finlan.jpg");
		height:300px;
	}

	.skill-set{
		padding:1% 4%;
		color: #414A52;
		font-size:0.8em;
		div{
			position:relative;
			width:48%;
			height:50px;
			display:inline-block;
			margin:0 2% 2% 0;

			span{
				position:absolute;
				right:0;
				top:20%;
			}
		}

		div:nth-child(even){
			margin-right:0;
		}

		h6{
			padding:2%;
			text-transform:uppercase;
		}
		meter{
			margin-left:2%;
			width:100%;
			height:10px;
			background:$darkslategary;
		}
		meter:-moz-meter-optimum::-moz-meter-bar{
			background:$lightblue;
		}
	}

	.stats-container{
		background:url("../images/stats-bg.jpg") no-repeat center ;
		height:380px;
		color:$white;
		padding-left:10%;
	}

	.stats-wrapper{
		font-size:2em;
		width:33%;
		display:inline-block;
		text-align:left;
		margin-top:15%;
		border-right:1px solid;

		&:last-child{
			border:none;
		}
	}

	.stats-description{
		padding-left:35%;
		line-height:1.3em;

		p:first-child{
			font-size:1.5em;
		}

		p:last-child{
			font-size:0.7em;
			font-weight:lighter;
		}
	}
	.awards{
		background:url("../images/award.jpeg") no-repeat center ;
	}

	#latest-article{
		padding-bottom:1%;
		background:#F4F6F9;
	}
	.latest-article-container{
		padding-top:8%;
		position:relative;
		color: #414A52;
	}

	.article-title{
		@include title-heading;
		margin-left:5%;
		h3{

			&:after{
				@include title-heading-after;
				margin:3% 0 0 28%;
			}
		}
	}

	.sort-by-filter{
		display:inline-block;
		position:absolute;
		right:5%;
		font-size:0.8em;

		p{
			display:inline-block;
			font-weight:bold;
			text-transform:uppercase;
			padding-right:20px;
		}
		select{
			font-size:0.9em;
			width:250px;
			height:30px;
			border:none;
			border-bottom: solid 2px #7AE2DE;
			background-color:#F4F6F9;
			background: url("../images/dd-arrow.png") no-repeat 230px 10px;
			-webkit-appearance: none;
            -moz-appearance: none;
            background-color:none;
		}
	}

	.article-container{
		margin:5% 0 5% 5%;
	}
	.article-div{
		width:28%;
		display:inline-block;
		margin:0 2%;
		padding-top:3%;
	}
	.article-image{
		height:225px;

		&:hover{
			background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
		}
	}

	.figure-caption{
		color:#414A52;
		font-size: 1.2em;
		line-height: 1.5em;
		padding:5% 0;
		border-bottom:1px solid #E5E7E9;

		p{
			font-size:0.75em;
		}
	}

	.article-footer{
		margin:5% 0;

		li{
			font-size:0.9em;
			display:inline-block;
			a{
				color:$lightblue;
			}
		}
		li:last-child{
			float:right;
		}
		li:last-child:before{
			content:'a';
		}

		li:last-child:after{
			@include clearfix;
		}
	}
	.article-1{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/article-01.jpg") no-repeat center ;
	}

	.article-2{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-02.jpg") no-repeat center ;
	}

	.article-3{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-03.jpg") no-repeat center ;
	}

	.article-4{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-04.jpg") no-repeat center ;
	}

	.article-5{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-05.jpg") no-repeat center ;
	}

	.article-6{
		background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/article-06.jpg") no-repeat center ;
	}

	.view-more{
		width:10%;
		margin:5% auto;

		a{
			padding:6% 12%;
			color:$lightblue;
			border:2px solid $lightblue;
			font-size:1.1em;
		}

		a:hover{
			color:$white;
			background:$lightblue;
		}
	}
}